@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navHeight: theme('space.24');
}

body {
  background-color: theme('colors.primary');
  color: white;
  font-family: theme('fontFamily.sans');
}